:root {
  /* 色彩模式 */
  color-scheme: LIGHT;

  /* 调色盘 */
  --c-primary: #0093ff;
  --c-background: #fff;

  /* 排版 */
  --c-text: #303a42;
  --c-text-secondary: rgba(48, 58, 66, 0.5);

  /* 过渡贝塞尔曲线 */
  --transition: 300ms cubic-bezier(0.92, 0.64, 0.53, 0.54);

  /* Shape */
  --border-radius: 4px;
}
